<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <headr>
            <h1>Registro de un Zoológico</h1>
        </headr>
        <main>

        </main>
        <footer>
            <a href="{% url 'view01' %}">Añadir Habitat</a>
            <a href="{% url 'view02' %}">Listado de Habitats</a>
            <a href="{% url 'view001' %}">Añadir de Animal</a>
            <a href="{% url 'view002' %}">Listado de Animal</a>
        </footer>
    </div>
</body>
</html>